<% if obj.errors.any? %>
  <div id="error_explanation">
    <h4>Please review the problems below:</h4>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>